click==6.7
cmake
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.0
Flask==0.12.2
Flask-SocketIO==2.9.1
gevent==1.2.2
gevent-websocket==0.10.1
greenlet==0.4.12
gunicorn==19.7.1
dlib>=19.3.0
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafepy
olefile
opencv-python
Pillow
python-engineio
python-socketio
redis
six
Werkzeug
face_recognition